@page
@model CourseProject.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row-cols-2 row">
    <div class="col">
        <h2>Connect with us via email!</h2>
        <a href="mailto:me@dquach.dev">me@dquach.dev</a>
    </div>
    <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.9322233751122!2d-123.11763898398993!3d49.277681479045604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717db8c59d41%3A0xada9c58716e1f55f!2sFairleigh%20Dickinson%20University%20Vancouver%20Campus!5e0!3m2!1sja!2sca!4v1650371213265!5m2!1sja!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>